:root{
	--bg: #1B1B1B;
	--textCol: #C5C6C7;
	--buttonCol: #66FCF1;
	--borderCol: #45A29E;
	--textBox: #1F2833;
}

body{
	background: var(--bg);
	outline: 10px solid var(--buttonCol);
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
}
textarea {
	color: var(--textCol);
	background: var(--textBox);
	font-size:14px;
	line-height:1.5;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	padding: 10px;
	border: 5px solid var(--borderCol);

}
button {
	color: var(--buttonCol);
	background:var(--borderCol);
	font-size:14px;
	padding: 4px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	border: none;
}
div {
	padding-top: 5px;
}