body{
	background:#1B1B1B;
	padding: 5px;
	outline: 10px solid #DDD;
	padding: 20px;
}
textarea {
	color:#DDD;
	background:#1B1B1B;
	font-size:14px;
	line-height:1.5;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	padding: 10px;
	border: 1px solid #DDD;

}
button {
	color:#1B1B1B;
	background:#DDD;
	font-size:14px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	outline: 2px solid #DDD;
	outline-style: outset;
}